<%= render 'header' %>

<div class="wrap_scene">
  <div class="scene0">
    <a class="btn btn-primary" href="/home/scenario1" role="button" onclick="alert('화장실로 다시 가볼까?!');">다음</a>
    <p></p>
  </div>
  <div class="timer"><%=@time%></div>
</div>
