<%= render 'header' %>


  <div class="wrap_scene">
    <div class="scene4">
      <a class="btn btn-primary" href="/home/scenario5" role="button">다음</a>
    </div>
  </div>
  <div class="timer"><%=@time%></div>
